*
  padding 0
  margin 0
ul, li
  list-style none
a
  color: #42b983
body
  color: #2c3e50
  font-size 14px
  .green
    color: #42b983
  .tac
    text-align: center;
  .tar
    text-align: right;
  .bold
    font-weight 700
  .flex
    display flex
    >div
      flex: 1
