*
  padding 0
  margin 0
ul, li
  list-style none
a
  color: #42b983
body
  color: #2c3e50
  font-size 14px
  .green
    color: #42b983
  .tac
    text-align: center;
  .tar
    text-align: right;
  .bold
    font-weight 700
  .flex
    display flex
    >div
      flex: 1
  .info-page
    padding 15px
    line-height: 22px
    .info-page-title
      margin-bottom 30px
      h2
        font-size 18px
        color #42b983
        margin-bottom 4px
      p
        color: #999
    li
      h3
        border-left: 4px solid #42b983
        padding 0 10px
        margin 10px 0
      h4
        margin-bottom 10px
      .info-page-desc
        padding-left 10px
        line-height 2
        margin-bottom 10px
        p
          margin-bottom 4px
      .mp
        img
          width 100px
          height 100px
